.text-truncate-container {
    max-height: 4.5rem; /* Adjust this value to control the number of visible rows */
    overflow: hidden;
    position: relative;
}

.text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Adjust this value to control the number of visible lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-toggler {
    border-color: red;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
